﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<LerenWerkenMetMVC.Models.Postcode>
<h2>Overzicht postcodes in België</h2>
<hr />
<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Code)</th>
        <th>@Html.DisplayNameFor(model => model.Plaats)</th>
        <th>@Html.DisplayNameFor(model => model.Provincie)</th>
        <th>@Html.DisplayNameFor(model => model.Localité)</th>
        <th>@Html.DisplayNameFor(model => model.Province)</th>
    </tr>
    @foreach (var postcode in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelitem => postcode.Code)</td>
            <td>@Html.DisplayFor(modelitem => postcode.Plaats)</td>
            <td>@Html.DisplayFor(modelitem => postcode.Provincie)</td>
            <td>@Html.DisplayFor(modelitem => postcode.Localité)</td>
            <td>@Html.DisplayFor(modelitem => postcode.Province)</td>
        </tr>
    }
</table>
